
<header ng-include="'partials/header.html'" class="p2 border-bottom"></header>

<div ng-show="loading" class="p2 border-bottom">Loading...</div>
<div ng-show="parsing" class="p2 border-bottom">Parsing data...</div>

<main ng-show="declarations && uniqueColors" class="block p2 responsive">

  <div class="clearfix border-bottom mb2">
    
    <div class="mb2 left half-width">
      <h1 class="h1">{{ declarations.length | number }}</h1>
      <p>Declarations ({{ uniqueDeclarations.length | number }} unique)</p>
    </div>

    <div class="mb2 left half-width">
      <h1 class="h1">{{ selectors.length | number }}</h1>
      <p>Selectors</p>
    </div>

  </div>

  
  <div class="clearfix">

    <div class="mb2 left half-width">
      <h1 class="h2">{{ fontSizes.length | number }}</h1>
      <p>Font size declarations ({{ uniqueFontSizes.length }} unique)</p>
    </div>

    <div class="mb2 left half-width">
      <h1 class="h2">{{ floats.length | number }}</h1>
      <p>Float declarations</p>
    </div>

    <div class="mb2 left half-width">
      <h1 class="h2">{{ colors.length | number }}</h1>
      <p>Colors ({{ uniqueColors.length }} unique)</p>
    </div>

    <div class="mb2 left half-width">
      <h1 class="h2">{{ backgroundColors.length | number }}</h1>
      <p>Background Colors ({{ uniqueBackgroundColors.length }} unique)</p>
    </div>

    <div class="mb2 left half-width">
      <h1 class="h2">{{ widths.length | number }}</h1>
      <p>Widths ({{ uniqueWidths.length }} unique)</p>
    </div>

    <div class="mb2 left half-width">
      <h1 class="h2">{{ heights.length | number }}</h1>
      <p>Heights ({{ uniqueHeights.length }} unique)</p>
    </div>

    <div class="mb2 left half-width">
      <h1 class="h2">{{ margins.length | number }}</h1>
      <p>Margin declarations</p>
    </div>

    <div class="mb2 left half-width">
      <h1 class="h2">{{ paddings.length | number }}</h1>
      <p>Padding declarations</p>
    </div>

  </div>

  <!-- <pre>{{ declarations | json }}</pre> -->

  <!-- <pre>{{ selectors | json }}</pre> -->

</main>

