<main class="p2 block responsive">
  <h1 class="h1">Sites</h1>

  <ul>
    <li><a href="#/github">Github</a></li>
    <li><a href="#/kickstarter">Kickstarter</a></li>
    <li><a href="#/mapbox">Mapbox</a></li>
    <li><a href="#/medium">Medium</a></li>
    <li><a href="#/twitter">Twitter</a></li>
    <li><a href="#/newyorktimes">New York Times</a></li>
    <li><a href="#/bbc">BBC</a></li>
    <li><a href="#/bootstrap">Bootstrap</a></li>
    <li><a href="#/topcoat">Topcoat</a></li>
  </ul>

</main>
