
body {
  color: #555;
  background-color: #fff;
}

a {
  color: #0096cc;
  text-decoration: none;
  &:hover {
    color: #0088bb;
  }
}

.border-bottom {
  border-bottom: 1px solid #ccc;
}

.half-width { width: 50%; }
